function Main.main 4
push constant 12
call String.new 1
push constant 84
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 45
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 45
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 33
call String.appendChar 2
pop local 0
push constant 46
call String.new 1
push constant 85
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 119
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 118
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 80
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 78
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 46
call String.appendChar 2
pop local 1
push constant 1
push constant 64
push local 0
call String.length 1
sub
push constant 2
call Math.divide 2
call Output.moveCursor 2
pop temp 0
push local 0
call Output.printString 1
pop temp 0
push constant 2
push constant 64
push local 1
call String.length 1
sub
push constant 2
call Math.divide 2
call Output.moveCursor 2
pop temp 0
push local 1
call Output.printString 1
pop temp 0
call Game.new 0
pop local 2
push local 2
call Game.getGameState 1
pop local 3
label WHILE_EXP0
push local 3
push constant 0
eq
not
if-goto WHILE_END0
push local 2
call Game.nextTurn 1
pop temp 0
push local 2
call Game.getGameState 1
pop local 3
goto WHILE_EXP0
label WHILE_END0
push local 3
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 2
call Game.printWinner 1
pop temp 0
goto IF_END0
label IF_FALSE0
push local 2
call Game.printTie 1
pop temp 0
label IF_END0
push constant 0
return
