function Main.main 3
push constant 0
not
pop local 0
push constant 0
pop local 1
label WHILE_EXP0
push local 0
not
if-goto WHILE_END0
call Game.new 0
pop local 2
label WHILE_EXP1
push local 1
not
not
if-goto WHILE_END1
push local 2
call Game.nextTurn 1
pop temp 0
push local 2
call Game.getGameFinished 1
pop local 1
goto WHILE_EXP1
label WHILE_END1
push local 2
call Game.printWinner 1
pop temp 0
push constant 0
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
